body, h1, h2, p, a {
    all: unset;
}

body {
    font-family: "Atkinson Hyperlegible";
}

#main {
    padding-top: 40px;
    padding-left: 50px;
}

h1 {
    font-size: 60px;
    display: block;
}

h2 {
    font-size: 40px;
    display: block;
}

p {
  font-size: 25px;
  display: block;
}

a {
  font-size: 25px;
  display: inline;
}

 /* unvisited link */
 a:link {
    color: green;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: lime;
  }
  
  /* selected link */
  a:active {
    color: lime;
  } 


  button {
    border: 2px solid black;
    background-color: white;
    font: "Atkinson Hyperledgible";
    padding: 4px 8px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #dddddd;
  }